form {
  width: 100%;
  max-width: 800px;
  margin: 25px auto;
}

.input-row {
  margin: 25px 0px;
}

label {
  display: block;
  padding-bottom: 5px;
}

input {
  width: 100%;
  padding: 5px;
  border: 1px solid #aaa;
}

*:focus {
  outline: none;
  border: 1px solid black;
}

button {
  border-radius: 0px;
  padding: 5px 15px;
  background: none;
  border: 1px solid #607d8b;
  cursor: pointer;
}

/* TODO2 add (!) error icon also */
.has-error {
  border: 1px solid #f44336;
}

/* Modal Style Start */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
/* Modal Style End */
