/* TODO mobile styles */
.header {
  display: grid;
  justify-items: center;
}

/* TODO mobile styles */
.footer {
  padding: 25px 8% 15px;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2%;
  row-gap: 10px;
  background-color: rgba(0, 0, 0, 0.05);
}

.page-body {
  min-height: 90vh;
}

/* Form Start */
.form-container {
  background-color: rgba(0, 0, 0, 0.05);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 90%;
}

.form-toolbar {
  padding: 5px 8%;
  display: grid;
  grid-template-columns: auto 150px 150px;
  column-gap: 2%;
  align-items: center;
  background-color: #31407c;
}

.form-toolbar-title {
  color: #fff;
  font-size: 1.3em;
}

.form-section-title {
  color: #ff7441;
  font-size: 1.2em;
}

button {
  border-radius: 0px;
  padding: 5px 10px;
  height: 30px;
  background: none;
  border: 1px solid #607d8b;
  cursor: pointer;
}

.form-toolbar-button-cancel {
  background-color: #fff;
  color: #ff7441;
}

.form-toolbar-button-save {
  background-color: #ff7441;
  color: #fff;
}

.input-row {
  margin: 25px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
}

label {
  display: block;
  padding-bottom: 5px;
}

input {
  width: 100%;
  padding: 5px;
  border: 1px solid #aaa;
}

.checkbox-input {
  display: grid;
  grid-template-columns: 130px 1fr;
}

*:focus {
  outline: none;
  border: 1px solid black;
}

input[type='checkbox']:focus {
  outline: rgb(0, 0, 0) auto 5px;
}

.titleFirstNameInput {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-areas:
    'label label'
    'title firstName';
}

.selector-state {
  height: 30px;
  align-self: end;
}

.textarea-input {
  min-height: 200px;
}

/* TODO2 add (!) error icon also */
.has-error {
  border: 1px solid #f44336;
}
/* Form End */

/* Modal Start */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
/* Modal End */

@media (min-width: 650px) {
  section {
    width: 600px;
  }

  .footer {
    grid-template-columns: auto 150px 150px;
  }
}
